/*-----------------*/
/* Common Elements */
html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
	weight: 300;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Oswald", sans-serif;
	padding: 0;
	margin: 0;
	color: #343E5A;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h2 {
	font-size: 36px;
}
h3 {
	padding-top: 20px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
}

p {
	font-size: 16px;
	color: #343E5A;
	line-height: 30px;
	font-family: "Roboto", sans-serif;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #90FFC4;
}

li,
ul {
	margin: 0;
	padding: 0;
}

/*-----------------*/
/* Helper Elements */
.fix {
	overflow: hidden;
}

.col-push {
	left: 50%;
}

.col-pull {
	right: 50%;
}

.spad {
	padding-top: 25px;
	padding-bottom: 25px;
}

:target:before {
	content:"";
	display:block;
	height:65px; /* fixed header height*/
	margin:-65px 0 0; /* negative fixed header height */
}

.section-title {
	text-align: center;
	margin-bottom: 25px;
	padding-top: 25px;
	position: relative;
}

.section-title h2 {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
}
.section-title h2 span {
	background: #90FFC4;
	padding: 0 3px 5px;
	display: inline-block;
	color: #343E5A;
}
.section-title.left {
	text-align: left;
}
.section-title.left:after {
	left: 0;
	margin-left: 0;
}
.section-title.dark h2 {
	color: #343E5A;
}

.site-btn {
	height: 50px;
	width: auto;
	border-width: 3px;
	border-radius: 5px;
	border-color: #90FFC4;
	padding-left: 15px;
	padding-right: 15px;
}
.site-btn:hover {
	/* border-width: 10px; */
}
.site-btn a {
	letter-spacing: 3px;
	font-size: 16px;
	font-family: 'Roboto';
	color: #90FFC4;
	text-transform: uppercase;
	font-weight: 500;
}
.site-btn a:hover {
	font-style: italic;
}

/* -------------- */
/* Navigation Bar */
.nav-bar {
	position: fixed;
	overflow: hidden;
	top: 0;
	height: 65px;
	width: 100%;
	background-color: #343E5A;
	z-index: 10;
}
.nav-bar .nav-logo {
	position: sticky;
	margin-top: auto;
	margin-bottom: auto;
	height: 90%;
	padding-left: 25px;
	float: left;
}
.nav-bar .nav-list {
	position: sticky;
	height: 100%;
	float: right;
}
.nav-bar .nav-list li {
	position: sticky;
	height: 65px;
	display: table-cell;
	vertical-align: middle;
}
.nav-bar .nav-list li a {
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-left: 25px;
	padding-right: 25px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	text-align: center;
}
.nav-bar .nav-list li a:hover,
.nav-bar .nav-list li a.active {
	color: rgb(143, 255, 198);
	font-style: italic;
}
.nav-bar .nav-list li:last-child a {
	margin-right: 0;
}
.nav-bar .nav-list li.active a {
	background: rgba(143, 255, 198, .9);
	color: #fff;
}
.nav-bar .nav-list .current a:after {
	width: 10px;
	margin-left: -5px;
}
.small-nav {
	display: none;
}

/* -------- */
/* Masthead */
.masthead {
	display: block;
	position: relative;
	height: 600px;
	width: 100%;
}
.masthead-content {
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.masthead-content .masthead-center {
	display: table-cell;
	vertical-align: middle;
}
.masthead-content p {
	font-size: 2em;
	font-style: italic;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 1.5em;
	z-index: 999;
}
.masthead-logo {
	max-height: 50%;
	max-width: 75%;
	padding-top: 25px;
	padding-bottom: 50px;
}
.masthead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(143, 255, 198, .5);
  z-index: -1;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	 background-color: #000;
	 z-index: -10;
}

/* ------------- */
/* About Section */
.about-section {
	display:block;
	position: relative;
}
.about-overlay {
  position: absolute;
  background-image: url("../img/back3.png");
  background-position: 50% 50%;
  background-size: contain;
  height: 125%;
  margin-top: -100px;
  width: 100%;
  z-index: -999;
}
.about-info {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.about-info p {
	color: #343E5A;
}
.map-container {
	position: relative;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 45px;
 	z-index: 5;
}
#map {
	height: 350px;
	width: 100%;
}

/* -------------- */
/* Strava Section */
.strava-section {
	position: relative;
	background-color: #f6f6f6;
	width: 100%;
	height:
}
.strava-section p {
	color: #fff;
}
.strava-elevation {
	width: 100%;
	text-align: center;
}
.strava-elevation #everest-tracker {
	padding-top: 20px;
	padding-bottom: 20px;

}
.everest-tracker text {
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

 /* --------------- */
 /* Contact Section */
 .contact-section {
 	position: relative;
	background-color: #90FFC4;
	z-index: -2;
 }
 .contact-section:after {
 	position: absolute;
 	content: "";
 	width: 50%;
 	height: 100%;
 	right: -15px;
 	top: 0;
 	z-index: -1;
 }
 .contact-section a {
 	color: #343E5A;
	font-weight: bold;
 }
 .contact-section a:hover {
	 font-style: italic;
 }
 #email {
	 font-family: 'Roboto';
	 font-size: 18px;
 }

 .carousel-container {
	position: relative;
	width: 60%;
	padding-top: 60%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
 }
 .carousel{
	position: absolute;
	padding-top: 25px;
	top: 0;
 }

 .contact-info .section-title {
 	margin-bottom: 40px;
 }
 .contact-info h3 {
 	font-weight: 400;
 	color: #343E5A;
 	margin-bottom: 20px;
 }
 .contact-info .con-item {
 	font-size: 14px;
 }

.social-icons{
	padding-top: 25px;
	float: left;
}
 .social-icons ul {
   margin-top: 2rem;
 }
 .social-icons ul > li {
   margin-left: 1rem;
   margin-right: 1rem;
   display: inline-block;
 }
 .social-icons ul > li > a {
   display: block;
   color: white;
   background-color: rgba(52, 62, 89, 0.80);
   border-radius: 100%;
   font-size: 24px;
   line-height: 5rem;
   height: 5rem;
   width: 5rem;
 }
 .social-icons ul > li > a:hover {
	background-color: rgba(52, 62, 89, 0.95);
 }

/* -------------- */
/* Footer Section */
.footer-section {
	background: #343E5A;
	text-align: center;
}
.footer-section h2 {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 18px 5%;
}

/* ----------------- */
/* Responsive Design */
/* Tablet: 768px - 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Helper Elements */
	.col-push {
		left: 0;
	}
	.col-pull {
		right: 0;
	}

	.strava-elevation {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Contact Section */
	.carousel-container {
	  position: relative;
	  width: 50%;
	  padding-top: 50%;
	  margin-right: auto;
	  margin-left: auto;
	  margin-top: 10px;
	  margin-bottom: 25px;
	  z-index: 5;
	}
	.contact-section::after {
		width: 100%;
	}
	.contact-info {
		margin-bottom: 25px;
	}
	.contact-info {
		text-align: left;
	}
	.social-icons {
		padding-top: 0px;
		float: none;
	}
}

/* Mobile: < 768px */
@media only screen and (max-width: 767px) {
	/* Helper Elements */
	.col-push {
		left: 0;
	}
	.col-pull {
		right: 0;
	}
	.section-title.left {
		text-align: center;
	}
	.responsive {
		display: none;
	}

	.large-nav {
		display: none;
	}
	.small-nav {
		display: block;
	}
	.nav-bar {
		height: 55px;
		width: 100%;
	}
	.nav-bar .nav-logo {
		padding-left: 5px;
		padding-right: 0;
		margin-right: 0;
	}
	.nav-bar .nav-list {
		position: sticky;
		height: 100%;
		float: right;
	}
	.nav-bar .nav-list li {
		position: sticky;
		height: 55px;
		display: table-cell;
		vertical-align: middle;
	}
	.nav-bar .nav-list li a {
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-left: 2px;
		padding-right: 16px;
		display: inline-block;
		color: #fff;
		font-size: 22px;
		font-weight: 300;
		text-align: center;
		margin-bottom: auto;
	}
	.nav-bar .nav-list li a:hover,
	.nav-bar .nav-list li a.active {
		color: rgb(143, 255, 198);
		font-style: italic;
	}
	.nav-bar .nav-list li:last-child a {
		margin-right: 0;
	}
	.nav-bar .nav-list li.active a {
		background: rgba(143, 255, 198, .9);
		color: #fff;
	}
	.nav-bar .nav-list .current a:after {
		width: 10px;
		margin-left: -5px;
	}

	/* About Section */
	.about-overlay {
	  display: none;
	}
	.about-info {
		padding-left: 0%;
		padding-right: 0%;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.about-info p {
		color: #343E5A;
	}
	.carousel-container {
	  position: relative;
	  width: 100%;
	  padding-top: 100%;
	  margin-right: auto;
	  margin-left: auto;
	  margin-top: 10px;
	  margin-bottom: 25px;
	  z-index: 5;
	}
	.map-container {
		position: relative;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 45px;
	 	z-index: 5;
	}
	#map {
		height: 350px;
		width: 100%;
	}

	.strava-elevation {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	/* Contact Section */
	.contact-section::after {
		width: 100%;
		right: 0;
	}
	.contact-info {
		text-align: center;
	}
	.social-icons {
		padding-top: 0px;
		float: none;
	}
}
